@use "../global"as theme;

.footer_container {
    @include theme.container_constraints;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
    // border-top: 1px theme.$mute_color solid;
    background-color: #2a2fc40f;
    border-radius: 10px;

    .company {
        margin: 0px;
        font-weight: 600;
        font-size: 30px;
        text-align: center;
        padding-top: 10px;
        color: theme.$primary_color;
    }

    .candidate {
        align-items: center;
        text-align: center;
        font-size: 14px;

        a {
            text-decoration: none;
            font-size: 16px;
            color: theme.$primary_color;
        }
    }

    .contact {
        .title {
            font-weight: 600;
            font-size: 18px;
        }

        p {
            text-align: right;
            font-size: 14px;
        }

        a {
            text-align: right;
            font-size: 14px;
            text-decoration: none;
            color: theme.$primary_color;
        }


    }

    a:hover {
        text-decoration: underline;
    }
}


@media (max-width: theme.$mobile_tab) {
    .footer_container {
        @include theme.container_constraints;
        display: block;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 70px;
        background-color: #2a2fc40f;
        border-radius: 10px;

        .company {
            margin: 0px;
            font-weight: 600;
            font-size: 30px;
            text-align: center;
            padding-top: 10px;
            color: theme.$primary_color;
        }

        .candidate {
            margin-top: 20px;
            align-items: center;
            text-align: center;
            font-size: 14px;

            a {
                text-decoration: none;
                font-size: 16px;
                color: theme.$primary_color;
            }
        }

        .contact {
            text-align: center;
            margin-top: 20px;

            .title {
                font-weight: 600;
                font-size: 18px;
                text-align: center;
            }

            p {
                text-align: center;
            }

            a {
                font-size: 14px;
                text-decoration: none;
                color: theme.$primary_color;
            }


        }

        a:hover {
            text-decoration: underline;
        }
    }
}