// ------------- Theme ------------
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// primary color
$primary_color: #2A30C4;
$complete_color: #4B961D;
$upcoming_color: #F82626;
$mute_color: #8d8d8d62;

// text
$google-font: "Poppins", sans-serif;
$text_color: #000;
$mute_text_color: #8D8D8D;

// responsiveness width
$mobile_tab: 740px;
$desktop: 1200px;
$large_desk: 1536px;


// containerization
@mixin container_constraints($adjust_width:1200px) {
    max-width: $adjust_width;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}